* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root  {
    --branco: #ffffff;
    --preto: #000000;
}

body {
    background-color: var(--preto);
}

a {
    color: var(--preto);
    background-color: var(--branco);
    padding: 32px;
}