* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #F8F7F4;
    --preto: #000000;
    --rosa: #F2AFEF;
    --rosaEscuro: #C499F3;
    --roxo: #7360DF;
    --roxoEscuro: #33186B;

    --inter: "Inter", sans-serif;
    --josefin: "Josefin Slab", serif;

}

/* Quebrar em 1185 */
@media screen and (max-width: 1055px) {
    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: var(--rosaEscuro);
        padding: 24px;
    }

    header >.logo >a >img {
        width: 75%;
    }

    .logo>a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 8px;
    }

    a>span {
        color: var(--branco);
        font-family: var(--inter);
        font-weight: 600;
        font-size: 20px;
    }

    nav {
        display: none;
    }

    .allMenu {
        background-color: var(--roxo);
        padding-bottom: 8px;
    }

    .pgAtual {
        text-decoration: underline;
    }

    .cadastroNav {
        background-color: var(--roxoEscuro);
        padding: 16px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        border-radius: 8px;
    }

    .cadastroNav:hover {
        background-color: var(--roxo);
        transition: 0.3s;
    }

    .navMobile {
        background-color: var(--AzulAcizentado);
        font-size: 14px;
        font-family: var(--inter);
    }

    .navMobile>div>span {
        color: var(--branco);
    }

    #menu-button {
        background-color: var(--AzulAcizentado);
        color: var(--branco);
        border: none;
        padding: 8px 0 0 24px;
        font-size: 25px;
    }

    #menu {
        display: none;
        margin-top: 10px;
    }

    #menu>ul>li {
        font-size: 24px;
        text-decoration: none;
        padding: 4px 24px;
    }

    .division{
        height: 1px;
        background-color: var(--branco);
    }

    .moreLinks {
        margin-left: 10px;
    }

    .subLinks {
        margin-left: 20px;
    }

    .navMobile a {
        color: var(--branco);
        text-decoration: none;
    }

    .navMobile ul,
    .navMobile li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu {
        padding-top: 10px;
        font-size: 15px;
    }
    
    body {
        background-color: var(--rosa);
    }
    
    section {
        display: flex;
        flex-direction: column;
        background-color: var(--roxo);
        gap: 16px;
        padding: 24px;
    }
    
    .content2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 8px;
        flex: 1;
    }
    
    .containerImg>img {
        width: 100%;
        height: auto;
    }
    
    .Title {
        color: var(--branco);
        font-family: var(--josefin);
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    
    .content3 {
        display: flex;
        flex-direction: column;
        color: var(--branco);
        font-family: var(--josefin);
        font-size: 4vw;
        text-align: justify;
        gap: 8px;
        height: auto;
    }
    
    .contentContact {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 16px;
        flex: 1;
    }
    
    strong {
        font-weight: 700;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--rosaEscuro);
        padding: 24px;
        gap: 16px;
    }

    .content4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content4>img {
        width: 25%;
        margin-bottom: 8px;
    }

    .content4>span {
        color: var(--branco);
        font-family: var(--inter);
        font-size: 24px;
    }

    .socialMedias {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
        gap: 40px;
    }

    .fa-house{
        color: var(--branco);
        font-size: 24px;
    }
    
    .fa-instagram{
        color: var(--branco);
        font-size: 24px;
    }

    .fa-house:hover,
    .fa-instagram:hover {
        background-color: var(--roxo);
        cursor: pointer;
        transition: 0.3s;
    }

    .socialIcon{
        background-color: var(--roxoEscuro);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .message {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .message>input {
        background-color: var(--branco);
        border: none;
        border-radius: 8px;
        padding: 16px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--branco);
        font-family: var(--inter)
    }

    .titleContact {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .textContact {
        font-size: 16px;
    }

    #email {
        font-weight: 600;
        margin-bottom: 8px;
    }

    #telephone {
        font-weight: 600;
        margin-bottom: 8px;
    }

    .message>button {
        background-color: var(--roxoEscuro);
        color: var(--branco);
        padding: 12px 0;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }

    .message>button:hover {
        background-color: var(--roxo);
        transition: 0.3s;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titleNavegation {
        color: var(--branco);
        font-family: var(--inter);
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 16px;
    }

    .navigation>a {
        font-size: 20px;
        color: var(--branco);
        margin-bottom: 8px;
    }

    .pg {
        text-decoration: none;
    }

    .pgAtual {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1056px) and (max-width: 1185px){
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--rosaEscuro);
        padding: 24px 180px;
    }
    
    .logo>a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 8px;
    }
    
    a>span {
        color: var(--branco);
        font-family: var(--inter);
        font-weight: 600;
        font-size: 30px;
    }
    
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 16px;
        gap: 24px;
    }
    
    nav>a {
        font-family: var(--inter);
        color: var(--branco);
        text-decoration: none;
    }
    
    .pgAtual {
        text-decoration: underline;
    }
    
    .cadastroNav {
        background-color: var(--roxoEscuro);
        padding: 16px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        border-radius: 8px;
    }
    
    .cadastroNav:hover {
        background-color: var(--roxo);
        transition: 0.3s;
    }

    .navMobile {
        display: none;
    }
    
    body {
        background-color: var(--rosa);
    }
    
    section {
        display: flex;
        flex-direction: column;
        background-color: var(--roxo);
        gap: 40px;
        padding: 64px 180px;
    }
    
    .content2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
        flex: 1;
    }
    
    .containerImg {
        width: 50%;
        height: auto;
    }
    
    .containerImg>img {
        width: 100%;
        height: auto;
    }
    
    .Title {
        color: var(--branco);
        font-family: var(--josefin);
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    
    .content3 {
        display: flex;
        flex-direction: column;
        color: var(--branco);
        font-family: var(--josefin);
        font-size: 2vw;
        text-align: justify;
        gap: 32px;
        width: 50%;
        height: auto;
    }
    
    .contentContact {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        flex: 1;
    }
    
    strong {
        font-weight: 700;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--rosaEscuro);
        padding: 64px 180px;
        gap: 16px;
    }

    .content4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content4>img {
        width: 50%;
        margin-bottom: 8px;
    }

    .content4>span {
        color: var(--branco);
        font-family: var(--inter);
        font-size: 24px;
    }

    .socialMedias {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
        gap: 40px;
    }

    .fa-house,
    .fa-instagram {
        background-color: var(--roxoEscuro);
        color: var(--branco);
        font-size: 34px;
        padding: 16px;
        border-radius: 100px;
    }

    .fa-house:hover,
    .fa-instagram:hover {
        background-color: var(--roxo);
        cursor: pointer;
        transition: 0.3s;
    }

    .message {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .message>input {
        background-color: var(--branco);
        border: none;
        border-radius: 8px;
        padding: 16px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        color: var(--branco);
        font-family: var(--inter)
    }

    .titleContact {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .textContact {
        font-size: 16px;
    }

    #email {
        font-weight: 600;
        margin-bottom: 8px;
    }

    #telephone {
        font-weight: 600;
        margin-bottom: 8px;
    }

    .message>button {
        background-color: var(--roxoEscuro);
        color: var(--branco);
        padding: 12px 0;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }

    .message>button:hover {
        background-color: var(--roxo);
        transition: 0.3s;
    }

    .navigation {
        display: flex;
        flex-direction: column;

    }

    .titleNavegation {
        color: var(--branco);
        font-family: var(--inter);
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 16px;
    }

    .navigation>a {
        font-size: 20px;
        color: var(--branco);
        margin-bottom: 8px;
    }

    .pg {
        text-decoration: none;
    }

    .pgAtual {
        text-decoration: underline;
    }
}

/* Quebrar em 1185 */
@media screen and (min-width: 1185px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--rosaEscuro);
        padding: 24px 180px;
    }
    
    .logo>a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 8px;
    }
    
    a>span {
        color: var(--branco);
        font-family: var(--inter);
        font-weight: 600;
        font-size: 40px;
    }
    
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 20px;
        gap: 24px;
    }
    
    nav>a {
        font-family: var(--inter);
        color: var(--branco);
        text-decoration: none;
    }
    
    .pgAtual {
        text-decoration: underline;
    }
    
    .cadastroNav {
        background-color: var(--roxoEscuro);
        padding: 16px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        border-radius: 8px;
    }
    
    .cadastroNav:hover {
        background-color: var(--roxo);
        transition: 0.3s;
    }

    .navMobile {
        display: none;
    }
    
    body {
        background-color: var(--rosa);
    }
    
    section {
        display: flex;
        flex-direction: column;
        background-color: var(--roxo);
        gap: 40px;
        padding: 64px 180px;
    }
    
    .content2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
        flex: 1;
    }
    
    .containerImg {
        width: 50%;
        height: auto;
    }
    
    .containerImg>img {
        width: 100%;
        height: auto;
    }
    
    .Title {
        color: var(--branco);
        font-family: var(--josefin);
        font-size: 56px;
        font-weight: bold;
        text-align: center;
    }
    
    .content3 {
        display: flex;
        flex-direction: column;
        color: var(--branco);
        font-family: var(--josefin);
        font-size: 2vw;
        text-align: justify;
        gap: 32px;
        width: 50%;
        height: auto;
    }
    
    .contentContact {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        flex: 1;
    }
    
    strong {
        font-weight: 700;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--rosaEscuro);
        padding: 64px 180px;
        gap: 32px;
    }
    
    .content4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .content4>img {
        width: 50%;
        margin-bottom: 8px;
    }
    
    .content4>span {
        color: var(--branco);
        font-family: var(--inter);
        font-size: 32px;
    }
    
    .socialMedias {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
        gap: 40px;
    }
    
    .fa-house,
    .fa-instagram {
        background-color: var(--roxoEscuro);
        color: var(--branco);
        font-size: 34px;
        padding: 16px;
        border-radius: 100px;
    }
    
    .fa-house:hover,
    .fa-instagram:hover {
        background-color: var(--roxo);
        cursor: pointer;
        transition: 0.3s;
    }
    
    .message {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .message>input {
        background-color: var(--branco);
        border: none;
        border-radius: 8px;
        padding: 16px;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        color: var(--branco);
        font-family: var(--inter)
    }
    
    .titleContact {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 16px;
    }
    
    .textContact {
        font-size: 24px;
    }
    
    #email {
        font-weight: 600;
        margin-bottom: 8px;
    }
    
    #telephone {
        font-weight: 600;
        margin-bottom: 8px;
    }
    
    .message>button {
        background-color: var(--roxoEscuro);
        color: var(--branco);
        padding: 12px 0;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
    
    .message>button:hover {
        background-color: var(--roxo);
        transition: 0.3s;
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        
    }
    
    .titleNavegation {
        color: var(--branco);
        font-family: var(--inter);
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 16px;
    }
    
    .navigation>a {
        font-size: 32px;
        color: var(--branco);
        margin-bottom: 8px;
    }
    
    .pg {
        text-decoration: none;
    }
    
    .pgAtual {
        text-decoration: underline;
    }
}
