* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #F8F7F4;
    --preto: #000000;
    --rosa: #F2AFEF;
    --rosaEscuro: #C499F3;
    --roxo: #7360DF;
    --roxoEscuro: #33186B;

    --inter: "Inter", sans-serif;
    --josefin: "Josefin Slab", serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--rosa);
    font-family: var(--inter);
}

section {
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--rosaEscuro);
    padding: 64px 180px;
    border-radius: 32px 0 0 32px;
}

.logo > span {
    color: var(--branco);
    font-size: 48px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--roxo);
    padding: 64px 180px;
    border-radius: 0 32px 32px 0;
}

.login > h1 {
    color: var(--branco);
    font-size: 48px;
    font-family: var(--josefin);
    margin-bottom: 32px;
}

.loginInput {
    background-color: var(--branco);
    width: 220px;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
    border: none;
}

.login > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 11px;
    margin-bottom: 16px;
}

.login > div > div {
    display: flex;
    align-items: center;
    color: var(--branco);
    gap: 4px;
}

.login > .btns {
    display: flex;
    gap: 16px;
}

.forgetPassword {
    color: var(--branco);
}

button {
    background-color: var(--branco);
    color: var(--roxo);
    font-weight: 700;
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}