* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #ffffff;
    --rosaClaro: #f9f0ff;
    --roxoAcinzentado: #8c6991;
    --roxoEscuro: #2f1533;
}

@media screen and (max-width: 600px) {
    body {
        background-color: var(--rosaClaro);
        font-family: 'Work Sans', sans-serif;
    }

    .img {
        width: 0%;
        height: 0%;
    }

    .imgM {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .spacing {
        padding-top: 120px;
    }

    .container {
        margin: 0 32px;
        padding: 32px 16px 16px 16px;
        background-color: var(--branco);
        border-radius: 16px;
    }

    .content1 {
        display: flex;
        align-items: center;
        flex-direction: row;
        color: var(--roxoEscuro);
        gap: 16px;
    }

    .star {
        width: 30px;
        height: 31px;
    }

    .content2 {
        color: var(--roxoEscuro);
        font-weight: 600;
        margin: 16px 0;
    }

    .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .answer {
        display: none;
        color: var(--roxoAcinzentado);
        font-weight: 400;
    }

    hr {
        color: var(--roxoAcinzentado);
    }

    .content3 {
        color: var(--roxoEscuro);
        font-weight: 600;
        margin-top: 16px;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: var(--rosaClaro);
        font-family: 'Work Sans', sans-serif;
    }

    .img {
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .imgM {
        width: 0%;
        height: 0%;
    }

    .spacing {
        padding-top: 240px;
    }

    .container {
        background-color: var(--branco);
        max-width: 560px;
        margin: 0 auto;
        padding: 32px;
        border-radius: 16px;
        z-index: 0;
        margin-bottom: 240px;
    }

    .content1 {
        display: flex;
        align-items: center;
        color: var(--roxoEscuro);
        font-size: 30px;
        gap: 24px;
    }

    .content2 {
        color: var(--roxoEscuro);
        font-weight: 600;
        margin: 24px 0;
    }

    .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .question:hover {
        color: #a332ad;
        cursor: pointer;
    }

    .answer {
        font-weight: 400;
        color: var(--roxoAcinzentado);
        margin-top: 24px;
    }

    .content3 {
        color: var(--roxoEscuro);
        font-weight: 600;
        margin: 24px 0 0 0;
    }
}